name: example
description: Demonstrates how to use the sheas_sealer plugin.
publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  sninetwork:
    path: ../
  provider: ^6.1.2
  http: ^1.2.1
  json_annotation: ^4.9.0
  flutter_inappwebview: ^6.1.5
  http_interceptor: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  build_runner: ^2.4.11
  json_serializable: ^6.8.0

flutter:
  uses-material-design: true
