
name: sninetwork
description: A new Flutter project.
version: 1.0.0
homepage:
publish_to: none

environment:
  sdk: '>=3.8.0 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.1
  http_interceptor: ^2.0.0
  json_annotation: ^4.9.0
  shared_preferences: ^2.5.4

dev_dependencies:
  build_runner: ^2.4.11
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  json_serializable: ^6.8.0
